.navbar {
    height: 80px;
    height: 55px;
    background-color: rgb(51, 51, 51);
    border: 0.5px solid black;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.782);

    .wrapper {
        padding: 10px 30px;
        display: flex;
        align-items: center;
        font-size: 18px;
        font-family: 'Lato', sans-serif;
        color: whitesmoke
    }

    .left{
    .center{
        font-size: 30px;
        letter-spacing: 2px;
        font-family: 'Helvetica', sans-serif;
        font-weight: bold;
        color: whitesmoke

    }

    .right{
        display: flex;
        align-items: center;
        gap: 25px;
        .icons {
            display: flex;
            gap: 15px;
            color: grey;
            cursor: pointer;
            .cartIcon {
                position: relative;
                span {
                    font-size: 12px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: blue;
                    color: white;
                    position: absolute;
                    right: -10px;
                    top: -10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
    
}
}